<section class=" hero is-primary">
    <section class="section columns">
        <div class="column is-one-third">
            <h2 class="title has-text-grey-dark">Filosofia</h2>
            <article class="media">
                <figure class="media-left ">
                    <button class="image is-128x128 button" style="background-image: url('/assets/img/filosofia.jpeg')"></button>
                </figure>
            </article>
        </div>
        <div class="column is-one-third">
            <h2 class="title has-text-grey-dark">Programação</h2>
            <article class="media ">
                <figure class="media-content ">
                    <button class="image is-128x128 button" style="background-image: url('/assets/img/programação.jpeg')"></button>
                </figure>
            </article>
        </div>
        <div class="column is-one-third">
            <h2 class="title has-text-grey-dark">Xadrez</h2>
            <article class="media">
                <figure class="media-right ">
                    <button class="image is-128x128 button" style="background-image: url('/assets/img/xadrez.jpeg')"></button>
                </figure>
            </article>
        </div>
    </section>
</section>