<section class="container">
    <section class="section">
        <div class="column is-one-third">
            <article class="media">
                <figure class="media-left ">
                    <p class="image is-128x128">
                        <img src="/assets/img/filosofia.jpeg">
                    </p>
                </figure>
            </article>
        </div>
        <div class="column is-one-third">
            <article class="media ">
                <figure class="media-content ">
                    <p class="image is-128x128">
                        <img class="" src="/assets/img/programação.jpeg">
                    </p>
                </figure>
            </article>
        </div>
        <div class="column is-one-third">
            <article class="media">
                <figure class="media-right ">
                    <p class="image is-128x128">
                        <img src="/assets/img/xadrez.jpeg">
                    </p>
                </figure>
            </article>
        </div>
    </section>
</section>