<footer class="footer mp-footer has-background-grey-dark has-text-primary">

    <div class="column">
        <h3 class="title">Redes Sociais</h3>
        <ul>
            <li>
                <a class="has-text-primary" href="http://" target="_blank" rel="noopener noreferrer">Instagram</a>
            </li>
            <li>
                <a class="has-text-primary" href="https://github.com/kusmin" target="_blank" rel="noopener noreferrer">GitHub</a>
            </li>
            <li>
                <a class="has-text-primary" href="https://www.linkedin.com/in/renan-ribeiro-b1368872/" target="_blank" rel="noopener noreferrer">Linkedin</a>
            </li>
            <li></li>
        </ul>
    </div>
    <div class=" has-text-centered ">
        <p>
            <a class="has-text-primary" href="https://github.com/kusmin/blog_filosofico" target="_blank">GitHub</a> © 2021. Todos os direitos reservados
        </p>
    </div>
</footer>