<footer class="footer mp-footer has-background-grey-dark has-text-primary">

    <div class="column">
        <h3 class="title">Redes Sociais</h3>
        <ul class="redes sociais tile">
            <li>
                <a class="has-text-primary instagram" id="" href="http://" target="_blank" rel="noopener noreferrer"></a>
            </li>
            <li>
                <a class="has-text-primary whatsapp" id="" href="http://" target="_blank" rel="noopener noreferrer"></a>
            </li>
            <li>
                <a class="has-text-primary youtube" id="" href="http://" target="_blank" rel="noopener noreferrer"></a>
            </li>
            <li>
                <a class="has-text-primary facebook" id="" href="http://" target="_blank" rel="noopener noreferrer"></a>
            </li>

        </ul>
    </div>
    <div class=" has-text-centered ">
        <p>
            <a class="has-text-primary" href="https://github.com/kusmin/blog_filosofico" target="_blank">GitHub</a> © 2021. Todos os direitos reservados
        </p>
    </div>
</footer>