<header class="header  mp-header has-background-grey-dark ">
    <section class="section">
        <div class="has-text-primary">
            <nav class="navbar level-right has-background-grey-dark">
                <ul class="navbar-brand ">
                    <li>
                        <a href="/_layouts/home.html" class="navbar-item has-text-primary ">Home</a>
                    </li>
                    <li>
                        <a href="/_layouts/filosofy.html" class="navbar-item has-text-primary">Devaneios Filosoficos</a>
                    </li>
                    <li>
                        <a href="/_layouts/programer.html" class="navbar-item has-text-primary">Programação Front-End</a>
                    </li>
                    <li>
                        <a href="/_layouts/chess.html" class="navbar-item has-text-primary">Xadrez</a>
                    </li>
                    <li>
                        <a href="" class="navbar-item has-text-primary">Sobre</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</header>