<header>
    <section>
        <div>
            <nav>
                <div>
                    <div>
                        <a href="www.google">google</a>
                    </div>
                    <div>
                        <div>
                            <a class="navbar-item" href="">Inicio</a>
                            <a href="">Xadrez</a>
                            <a href="">Programação</a>
                            <a href="">Filosofia</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </section>
</header>